
<button routerLink="/login">Login</button>
<h3>Welcome to the home of your Online Bookstore.Please browse our inventory of hard to find,
out of print,used and rare books.<br>Our book collection consists of the top bestsellers of 2018 and 2017
of different genres like fiction,mythology,autobiography,Sci-fi and lots more.</h3>

<ul class="books">
  <li  *ngFor="let book of books"  (click)="onSelect(book)">
  

     <span class="badge">{{book.description}}</span>
     <img src="{{book.image}}" height="120" width="180">
  </li>
</ul>
<app-book-detail [book]="selectedBook"></app-book-detail>
<router-outlet></router-outlet>
