<div>

<!--giving 3 input field of name, quantity and price to
allow manager to add a new book to the database -->

<label>Description</label>
<input  name="description" [(ngModel)]="description"  placeholder="Book name">
</div>                    
<div>          
<label>Quantity</label>        
<input  name="quantity" [(ngModel)]="quantity" placeholder="quantity">
</div>                    
<div >         
<label>Price</label>     
<input  name="price" [(ngModel)]="price" placeholder="price">
</div>      
<div >       
<button  type="submit" (click)="addbook()">Submit</button>           
</div>

<table>

<!--creating a table for allowing the manager to update
and delete the price and quantity of books in database  -->

  <tr *ngFor='let book of books'>
    <td>{{ book.description }}</td>
    <td><input type="text" [(ngModel)]="book.price" value="{{book.price}}" /></td>
    <td><input type="text" [(ngModel)]="book.quantity" value="{{book.quantity}}" /></td>
    <td><button  (click)="updatebookDetails(book)">Update</button></td>
    <td><button  (click)="deletebook(book)">Delete</button></td>
  </tr>
</table>


    
<div>
<label>Username</label>
<input type="email" [(ngModel)]="username" required>

</div>

<button type= "submit"  (click)="disableuser(username)">Disable user</button>
