<div>New users can register by signing up</div>
<div>Login using your username and password to buy products</div>

<div>
<div>
<label>Username</label>
<input type="email" [(ngModel)]="username" required>

</div>
<div>
<label>Password</label>
<input type="password"  [(ngModel)]="password" required>


</div>
<!--two buttons for signup and login respectively -->
<button type= "submit"  (click)="newUser(username,password)">Signup</button>
<button type= "submit"  (click)="oldUser(username,password)">Login</button>
<button type= "submit"  routerLink="/manager">Manager</button>


</div>


<!-- this tag is used to navigate to manager if manager button is clicked above-->
<router-outlet></router-outlet>
